@charset "utf-8";
/* CSS Document */

.portada{
	object-fit: cover;
	width: 100%;
	height: 200px;
	object-position: 20% 10% ;
}
h1 {
	font-family: Ramona;
	text-align: center;
	color: #2BFF2B;
}
h2{
	font-family: Ramona Light;
	color: #2BFF2B;
	text-align: center;
}
h3{
	font-family: Ramona Light;
	color: #2BFF2B;
	text-align: center;
}

.proyecto{
display: block;
	margin: auto;
}

.avatar {
	object-fit: cover;
	width: 12%;
	height: 12%;
	object-position: 50% 50%;
	border-radius: 100%;
	margin: auto;
	display: block;
}
@font-face{
	font-family: Ramona Bold;
	src: url("../Ramona/Ramona-Bold.ttf");
}
@font-face{
	font-family: Ramona Light;
	src: url("../Ramona/Ramona-Light.ttf");
}